# Emacs backups
*~

# The external program
i7-highlighter

# Dependency lists
Dependencies
*.d

# Tags files
TAGS

# Compiled object files
*.slo
*.lo
*.o

# Compiled dynamic libraries
*.so
*.dylib

# Compiled static libraries
*.lai
*.la
*.a
